
.container img{
    width: 200px;
    height: 200px;
}

.card{
    border: 1px solid #333;
    background: #fff;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}
.card img{
    border-radius: 50%;
}